@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');


@media (min-width: 768px) {
.navbar-brand.abs
    {
        position: absolute;
        width: 100%;
        left: 0;
        text-align: center;
    }
}

#button-fetch{
    margin: 10px 0px 0px 0px;
}

#city-count, #state-count, #country-count{
    font-size:  48px;
}
.content{
    margin-top: 15%;
    margin-bottom: 15%;
}

body{
    text-align: center;
    font-family: 'Roboto Slab', serif;
}